<div class="row">
  <div class="col-12 px-4" [ngSwitch]="data.type">
    <ng-container *ngSwitchCase="'addReading'">
      <app-reading-create [applyArticle]="data.article" (confirm)="handleCreateArticle($event)"></app-reading-create>
    </ng-container>
    <ng-container *ngSwitchCase="'deleteArticle'">
      <app-delete-modal (confirm)="handleArticleDelete($event)"></app-delete-modal>
    </ng-container>
    <ng-container *ngSwitchDefault>
      somwthing went wrong
    </ng-container>
  </div>
</div>